<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Earthquakes</title>
  <!-- leaflet JS & CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>

   <!-- d3 JavaScript -->
   <script src="https://d3js.org/d3.v6.min.js"></script>

  <!-- our CSS -->
  <link rel="stylesheet" href="../static/css/style.css"/>

</head>

<body>
  <!-- map div -->
  <div id="map"></div>

  <!-- leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>

  <!-- d3-Scale-Chromatic: for continuous color schemes -->
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script> 

  <!-- API Key -->
  <script src='../static/js/config.js'></script>

  <!-- JS File -->
  <script src='../static/js/level1.js'></script>
  

</body>

</html>
